@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin : 0;
  background :  #303030;
  color : white;
}

.title {
  text-align: center;
  margin-top: 150px;
  font-size : 49px;
  font-weight: bold;
  color: yellow;
  
}

